<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899524404143-f8lfkav1tivf32cia4s0pk85pl5h9365.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899524404143-f8lfkav1tivf32cia4s0pk85pl5h9365</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>899524404143-22rqed4rr30utd813884lgadsoahh20n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwebEJLdF9b9nIUvM5Ej_X74Wvka4teOA</string>
	<key>GCM_SENDER_ID</key>
	<string>899524404143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cgu.caregiver</string>
	<key>PROJECT_ID</key>
	<string>care-giver-project</string>
	<key>STORAGE_BUCKET</key>
	<string>care-giver-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899524404143:ios:c0a4a33f4e02da38c9455a</string>
	<key>DATABASE_URL</key>
	<string>https://care-giver-project.firebaseio.com</string>
</dict>
</plist>